body{
	font-family: tahoma;
	margin: 0;
    padding: 0;
    width: 100%;
}

.img{
	background: url('../foot/10.jpeg') no-repeat 50% 50%;
	width: 100%;
    height: 100%;
	background-size: cover;
	margin-top: 2%;
	position: relative;
    background-attachment: fixed;
}

.row{
	width: 100%;
}

.nm h1{
	margin-left: 45%;
}


.servicebox{
	padding: 25px 20px;
	border-radius: 5px;
	text-align: justify;
	overflow: hidden;
	z-index: 1;
	position: relative;
	margin-left: 4%;
}

.servicebox:before{

	content: "";
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #242424;
	position: absolute;
	top: 0;
	left: -100%;
	z-index: -1;
	transition: all 0.5s ease 0s;
}

.servicebox:hover:before{
	left: 0;
}

.servicebox:after{
	content: "";
	width: 5px;
	height: 0;
	border-radius: 5px;
	background: orange;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s ease 0s;
}

.servicebox:hover:after{
	height: 100%;
}

.servicebox .service-icon{
	color: #F06D26;
	margin-bottom: -10px;
	transition: all 0.5s ease 0s;
}

.servicebox .service-icon i{
	font-size: 30px;
}

.servicebox .title{
	margin-top: 10%;
	display: inline-block;
	border-bottom: 4px solid #F06D26;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 12px;
}

.servicebox .description{
	font-size: 15px;
	color: #777;
	line-height: 25px;
	transition: all 0.5s ease 0s;
}

.servicebox:hover .service-icon,
.servicebox:hover .description{
	color: white;
}








